<mat-tab-group mat-align-tabs="center">
    <!-- Tab for King/Queen Stats -->
    <mat-tab label="King/Queen Stats">
        <app-detailed-player-stats [playerId]="playerId" [leagueId]="selectedLeagueId"></app-detailed-player-stats>
    </mat-tab>

    <!-- Tab for League Team Stats -->
    <mat-tab label="League Team Stats">
        <app-league-team-player-scores [playerId]="playerId" [leagueId]="selectedLeagueId"></app-league-team-player-scores>
    </mat-tab>

    <!-- Tab for Combined Stats -->
    <mat-tab label="League Player Stats">
        <app-combined-stats-tab [playerId]="playerId" [leagueId]="selectedLeagueId"></app-combined-stats-tab>
    </mat-tab>
</mat-tab-group>
