<div *ngIf="loading">
Loading...
</div>
    <div *ngIf="!loading">
    <div style="align-self:center;">
        <div *ngIf="!hideInputOptions">
            <h4>Select League</h4>
            <mat-form-field>
                <mat-label>League</mat-label>
                <mat-select style="min-width:180px;" [(ngModel)]="selectedLeague" [(value)]="league" (selectionChange)="getTeams(selectedLeague)">
                    <mat-option *ngFor="let league of leaguesAvailable" [value]="league.leagueName">
                        {{league.leagueName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-10">

        </div>


        <table *ngIf="teams != null" class='table' style="max-width:600px;">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Total Wins</th>
                    <th>Total Losses</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let singleTeam of teams">
                    <td>{{ singleTeam.teamName }}</td>
                    <td>{{ singleTeam.totalWins }}</td>
                    <td>{{ singleTeam.totalLosses }}</td>

                </tr>
            </tbody>
        </table>

    </div>
    <div>

        <mat-expansion-panel style="background-color:lightgray; max-width:500px;" class="mt-2 mr-auto">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Enter Team Scores</h4>
                </mat-panel-title>


            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-5">
                    <h6>Team 1</h6>
                    <mat-form-field>
                        <mat-label>Team 1 Name:</mat-label>
                        <mat-select [(ngModel)]="selectedTeam1">
                            <mat-option *ngFor="let team1 of teams" [value]="team1">
                                {{team1.teamName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <h6>Team 2</h6>
                    <mat-form-field>
                        <mat-label>Team 2 Name:</mat-label>
                        <mat-select [(ngModel)]="selectedTeam2">
                            <mat-option *ngFor="let team2 of teams" [value]="team2">
                                {{team2.teamName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <form [formGroup]="TeamScoresForm" (ngSubmit)="onSubmitClick()">
                <div class="row">
                    <div class="col-5">
                        <mat-form-field style="max-width:180px" appearance="outline">
                            <mat-label>Team 1 Score:</mat-label>
                            <input matInput placeholder="Team 1 Score" type="number" formControlName="team1Score" value="{{teamScores?.team1Score}}" required />
                        </mat-form-field>
                        <mat-form-field style="max-width:180px" appearance="outline">
                            <mat-label>Date</mat-label>
                            <input matInput placeholder="Date" type="datetime" formControlName="date" value="{{teamScores?.date}}" required />
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field style="max-width:180px" appearance="outline">
                            <mat-label>Team 2 Score:</mat-label>
                            <input matInput placeholder="Team 2 Score" type="number" formControlName="team2Score" value="{{teamScores?.team2Score}}" required />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="password" value="{{password}}" required />
                        </mat-form-field>

                    </div>
                </div>
                <button mat-raised-button color="primary">Submit</button><br /><br />
            </form>

        </mat-expansion-panel>

    </div>
    <div>
        <mat-expansion-panel style="background-color:lightgray; max-width:250px;" class="mt-2 mr-auto">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Add Team</h4>
                </mat-panel-title>


            </mat-expansion-panel-header>
            <form [formGroup]="NewTeamForm">
                <mat-form-field style="max-width:180px" appearance="outline">
                    <mat-label>New Team Name</mat-label>
                    <input matInput placeholder="Team Name" type="text" formControlName="newTeamName" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password" value="{{password}}" required />
                </mat-form-field>
                <br />
                <button (click)="addTeam()" mat-raised-button color="primary">Add Team</button>
            </form>
        </mat-expansion-panel>
    </div>
</div>