<div *ngIf="loading; else elseBlock">
    Loading...
</div>
<ng-template #elseBlock>
<h1>Player List</h1>

<p>List of All Players</p>
<!--<form [formGroup]="PlayerForm" (ngSubmit)="onSubmitClick()">
    <mat-form-field appearance="outline" style="border-width:2px;">
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="Player First Name" type="text" formControlName="firstName" value="{{addedPlayer?.firstName}}" required />
    </mat-form-field>

    <mat-form-field appearance="outline" style="border-width:2px;">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Player Last Name" type="text" formControlName="lastName" value="{{addedPlayer?.lastName}}" required />
    </mat-form-field>

    <mat-form-field appearance="outline" style="border-width:2px;">
        <mat-label>Male or Female:</mat-label>
        <input matInput placeholder="Is Player Male or Female" formControlName="isMale" value="{{addedPlayer?.isMale}}" type="text" required />
    </mat-form-field>
    <mat-form-field appearance="outline" style="border-width:2px;">
        <mat-label>League Name</mat-label>
        <input matInput placeholder="League name?" formControlName="leagueName" value="{{leagueName}}" type="text" required />
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button><br /><br />
</form>-->

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>



<table *ngIf="dataSource !=null" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-50">
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!--<thead>
        <tr>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Male or Female</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player1 of players">
            <td>{{ player1.lastName }}</td>
            <td>{{ player1.firstName }}</td>
            <td>{{ player1.gender }}</td>
        </tr>
    </tbody>-->
</table>
    </ng-template>