<div class="container-fluid" [hidden]="hideEverything">
    <div class="row">
        <div class="col-12">
            <mat-card style="background-color:lightgray; " class="ml-1 mt-2" *ngIf="!hideInputOptions">
                <div class="row">
                    <div class="col">
                        <mat-card style="background-color:lightgray;" class="d-flex flex-column align-items-center">
                            <h4>Select League</h4>
                            <div class="mt-1">
                                <mat-form-field>
                                    <mat-label>League</mat-label>
                                    <mat-select style="min-width:180px;" [(ngModel)]="selectedLeague" [(value)]="league" (selectionChange)="selectLeague(selectedLeague)">
                                        <mat-option *ngFor="let league of leaguesAvailable" [value]="league.leagueName">
                                            {{league.leagueName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col text-center">
                        <mat-card style="background-color:lightgray;" class="d-flex flex-column align-items-center">
                            <h4>Max Team Size</h4>
                            <div class="mt-1">
                                <mat-form-field>
                                    <mat-label>Max Team Size</mat-label>
                                    <mat-select [(ngModel)]="teamSize" (ngModelChange)="updateNumberOfTeams($event); teamSizeSelected = false; numberOfTeamsSelected = true; ">
                                        <mat-option *ngFor="let team of teamSizePossible" [value]="team">
                                            {{team}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <p [style.color]="teamSizeSelected ? 'red' : '#999'" style="font-size: 12px; margin-top: 5px;">Deselected when max team size selected.</p>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col text-center">
                        <mat-card style="background-color: lightgray;" class="d-flex flex-column align-items-center">
                            <h4>Number of Teams</h4>
                            <div class="mt-1">
                                <mat-form-field>
                                    <mat-label style="font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Number of Teams</mat-label>
                                    <mat-select [(ngModel)]="numberOfTeams" (ngModelChange)="updateTeamSize($event); numberOfTeamsSelected = false; teamSizeSelected = true;">
                                        <mat-option *ngFor="let maxNumberTeam of maxNumberOfTeams" [value]="maxNumberTeam">
                                            {{maxNumberTeam}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <p [style.color]="numberOfTeamsSelected ? 'red' : '#999'" style="font-size: 12px; margin-top: 5px;">Deselected when number of teams selected.</p>
                            </div>
                        </mat-card>

                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-12 col-md-6 text-center">
                        <mat-checkbox [(ngModel)]="completeRandom" aria-label="check box 1" style="margin-right: 10px"> Completely Random</mat-checkbox>
                        <mat-checkbox [(ngModel)]="lockedResults" aria-label="check box 2" style="margin-right: 10px"> Lock Results</mat-checkbox>
                    </div>
                </div>

            </mat-card>
            <mat-card style="background-color: lightgray;" class="ml-1 mt-2" *ngIf="displayTopPlayers.length > 0 && !hideInputOptions">
                <div class="d-flex flex-column align-items-center">
                    <h5>
                        Top Players
                        <span *ngIf="totalTopPlayers.length > 0">({{ totalTopPlayers.length }})</span>
                    </h5>
                    
                    <div class="player-list">
                        <ng-container *ngFor="let player of displayTopPlayers">
                            <div class="player-item" [ngClass]="{'male-bg': player.isMale, 'female-bg': !player.isMale}">
                                {{ player.firstName }} {{ player.lastName }}
                            </div>
                        </ng-container>
                    </div>
                    <div class="text-center" style="font-size: 14px;">
                        <h5>Required Players For Top Players</h5>
                        <div class="d-flex">
                            <p class="mr-3">2 player teams - {{ numberOfPlayersNeededTwo }}</p>
                            <p class="mr-3">3 player teams - {{ numberOfPlayersNeededThree }}</p>
                            <p>4 player teams - {{ numberOfPlayersNeededFour }}</p>
                        </div>
                    </div>
                </div>
            </mat-card>


            <div class="row justify-content-center mt-3">
                <div *ngIf="!hideInputOptions" class="col-lg-2 col-md-4 col-sm-6 col-12 mb-3">
                    <button  (click)="scramblePlayers(false)" mat-raised-button color="primary" class="w-100">Scramble Players</button>
                </div>
                <div *ngIf="!hideInputOptions" class="col-lg-2 col-md-4 col-sm-6 col-12 mb-3">
                    <button (click)="hideOptions()"  mat-raised-button color="primary" class="w-100">Hide Options</button>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-3">
                    <button (click)="reset()" mat-raised-button color="primary" class="w-100">Reset Top Players</button>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-3">
                    <button (click)="hidePlayerList()" mat-raised-button color="primary" class="w-100">
                        {{ hidePlayers ? 'Show Player List' : 'Hide Player List' }}
                    </button>
                </div>
                <!--<div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <button (click)="addTopPlayers()" mat-raised-button color="primary" class="w-100">Set Top Players</button>
                </div>-->
            </div>





            <div class="text-center mt-3" *ngIf="hideInputOptions">
                <button (click)="hideOptions()" mat-raised-button color="primary">Show Options</button>
                <button *ngIf="!lockedResults" style="margin-top:10px; margin-left: 10px" (click)="scramblePlayers(false)" mat-raised-button color="primary">Scramble Players</button>
                <div class="mt-2">
                    <mat-checkbox [(ngModel)]="completeRandom"> Completely Random?</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card class=" ml-3 mt-2 " style="background-color:lightgray; ">

                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Select Players">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-12" id="hideInputOptions">
                                    <div [hidden]="playerLoading">
                                        <mat-card id="playerListHidden" style="margin-top: 20px; margin-bottom: 20px; background-color: #eeeeee">
                                            <mat-card-title style="color: gray; margin: -10px -10px -5px -10px; display: flex; justify-content: center; align-items: center;">
                                                <div style="display: flex; align-items: center;">

                                                    <div *ngIf="!isSmallScreen" style="margin-right: 10px;font-size: 20px">
                                                        Players Selected - {{ selectedList.length }}
                                                    </div>
                                                    <div *ngIf="isSmallScreen" style="margin-right: 10px;font-size: 12px">
                                                        Players Selected - {{ selectedList.length }}
                                                    </div>
                                                    <div *ngIf="!isSmallScreen" style="margin-right: 10px;font-size: 20px">
                                                        Total Male: {{ getTotalMaleSelectedPlayers() }}
                                                    </div>
                                                    <div *ngIf="!isSmallScreen" style="margin-right: 10px; font-size: 20px">
                                                        Total Female: {{ getTotalFemaleSelectedPlayers() }}
                                                    </div>
                                                    <div *ngIf="isSmallScreen" style="margin-right: 10px; font-size: 12px">
                                                        Total Males: {{ getTotalMaleSelectedPlayers() }}
                                                    </div>
                                                    <div *ngIf="isSmallScreen" style="margin-right: 10px;font-size: 12px">
                                                        Total Females: {{ getTotalFemaleSelectedPlayers() }}
                                                    </div>
                                                    <button mat-raised-button color="primary" (click)="selectAllPlayers()" style="font-size: 14px; padding: 5px; min-width: 80px;">
                                                        Select All
                                                    </button>
                                                    <span style="margin-left: 10px;"></span>
                                                    <button mat-raised-button color="warn" (click)="deselectAllPlayers()" style="font-size: 14px; padding: 5px; min-width: 80px;">
                                                        Deselect All
                                                    </button>
                                                </div>
                                            </mat-card-title>
                                            <mat-selection-list dense [(ngModel)]="selectedList" (ngModelChange)="addPlayer($event)">
                                                <div>
                                                    <!-- Male Players -->
                                                    <div style="display: flex; flex-direction: column;">
                                                        <mat-list style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                                            <mat-list-option [style.width.%]="isSmallScreen ? 50 : 25" [style.margin-bottom.px]="10" style="background-color: #DBFDFF;" *ngFor="let player1 of malePlayers1; let i = index" [value]="player1">
                                                                <div style="display: flex; align-items: center;">
                                                                    <span>{{ player1.firstName }} {{ player1.lastName }}</span>
                                                                    <button *ngIf="!player1.isTopPlayer" mat-icon-button (click)="addPlayerToTopPlayerList(player1); $event.stopPropagation()" matTooltip="Set Top Player">
                                                                        <mat-icon>star_border</mat-icon>
                                                                    </button>
                                                                    <button *ngIf="player1.isTopPlayer" mat-icon-button (click)="removePlayerFromTopPlayerList(player1); $event.stopPropagation()" matTooltip="Remove Top Player">
                                                                        <mat-icon>star</mat-icon>
                                                                    </button>
                                                                </div>
                                                            </mat-list-option>
                                                        </mat-list>
                                                    </div>

                                                    <!-- Divider -->
                                                    <mat-divider></mat-divider>

                                                    <!-- Female Players -->
                                                    <div style="display: flex; flex-direction: column;">
                                                        <mat-list style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                                            <mat-list-option [style.width.%]="isSmallScreen ? 50 : 25" [style.margin-bottom.px]="10" style="background-color: #FCE0FF; " *ngFor="let player1 of femalePlayers1; let i = index" [value]="player1">
                                                                <div style="display: flex; align-items: center;">
                                                                    <span>{{ player1.firstName }} {{ player1.lastName }}</span>
                                                                    <button *ngIf="!player1.isTopPlayer" mat-icon-button (click)="addPlayerToTopPlayerList(player1); $event.stopPropagation()" matTooltip="Set Top Player">
                                                                        <mat-icon>star_border</mat-icon>
                                                                    </button>
                                                                    <button *ngIf="player1.isTopPlayer" mat-icon-button (click)="removePlayerFromTopPlayerList(player1); $event.stopPropagation()" matTooltip="Remove Top Player">
                                                                        <mat-icon>star</mat-icon>
                                                                    </button>
                                                                </div>
                                                            </mat-list-option>
                                                        </mat-list>
                                                    </div>
                                                </div>
                                            </mat-selection-list>
                                        </mat-card>

                                    </div>
                                    <div [hidden]="!playerLoading" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); display: flex; justify-content: center; align-items: center;">
                                        <div style="text-align: center;">
                                            <h2 class="ml-4">Loading...</h2>
                                            <div style="display: inline-block;">
                                                <mat-spinner diameter="200"></mat-spinner>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="displayTopPlayers.length > 0 && hideInputOptions">
                                <div class="d-flex flex-column align-items-center">
                                    <h5>Top Players</h5>
                                    <div class="player-list">
                                        <ng-container *ngFor="let player of displayTopPlayers">
                                            <div class="player-item" [ngClass]="{'male-bg': player.isMale, 'female-bg': !player.isMale}">
                                                {{ player.firstName }} {{ player.lastName }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="text-center" style="font-size: 14px;">
                                        <h5>Required Players For Top Players</h5>
                                        <div class="d-flex">
                                            <p class="mr-3">2 player teams - {{ numberOfPlayersNeededTwo }}</p>
                                            <p class="mr-3">3 player teams - {{ numberOfPlayersNeededThree }}</p>
                                            <p>4 player teams - {{ numberOfPlayersNeededFour }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Retrieve Scramble">
                        <mat-card style="margin-top: 20px; margin-bottom: 20px; background-color: #eeeeee">
                            <div class="tab-content d-flex flex-column align-items-center">
                                <h5 class="mb-2">Retrieve Previous Scramble</h5>
                                <div class="d-flex flex-column align-items-center mb-2">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Enter Scramble Number" [(ngModel)]="scrambleNumber">
                                    </mat-form-field>

                                    <button mat-raised-button color="primary" (click)="retrieveMatchups()">Retrieve Matchups</button>

                                    <!-- Add margin between the two buttons -->
                                    <div style="margin-top: 10px;"></div>

                                    <button mat-raised-button color="primary" (click)="scramblePlayers(true)">Scramble With No Duplicate Teams</button>
                                </div>

                                <!-- Display previous matchups centered -->
                                <div class="matchup-container row justify-content-center align-items-center">
                                    <ng-container *ngFor="let matchup of matchups; let i = index">
                                        <div *ngIf="(i + 1) % 2 == 0" class="matchup-divider">
                                            <h4 class="vs-text">vs</h4>
                                        </div>
                                        <div class="col-3">
                                            <table class=" table">
                                                <thead>
                                                    <tr>
                                                        <th>Team {{ i + 1 }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let player of matchup.players">
                                                        <!-- Display player details here -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>


                    <mat-tab label="Add Player">
                        <mat-card style="margin-top: 20px; margin-bottom: 20px; background-color: #eeeeee">
                            <div class="tab-content d-flex flex-column align-items-center">
                                <h5 class="mb-2">Enter New Player</h5>
                                <form [formGroup]="PlayerForm" (ngSubmit)="onSubmitClick()" class="d-flex flex-column align-items-center">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <mat-form-field style="max-width: 180px" appearance="outline">
                                                <mat-label>First Name:</mat-label>
                                                <input matInput placeholder="Player First Name" type="text" formControlName="firstName" value="{{addedPlayer?.firstName}}" required />
                                            </mat-form-field>
                                            <br />
                                            <mat-form-field style="max-width: 180px" appearance="outline">
                                                <mat-label>Last Name:</mat-label>
                                                <input matInput placeholder="Player Last Name" type="text" formControlName="lastName" value="{{addedPlayer?.lastName}}" required />
                                            </mat-form-field>
                                            <br />
                                            <mat-form-field style="max-width: 180px" appearance="outline">
                                                <mat-label>Password:</mat-label>
                                                <input matInput placeholder="Password" type="password" formControlName="password" value="{{password}}" required />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <mat-form-field appearance="outline">
                                                <mat-select formControlName="isSub" placeholder="Sub/Flex">
                                                    <mat-option [value]="true">Sub</mat-option>
                                                    <mat-option [value]="false">Not a Sub</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <br />
                                            <mat-form-field appearance="outline">
                                                <mat-label>Gender:</mat-label>
                                                <mat-select [formControl]="PlayerForm.get('selectedGender')" placeholder="Gender">
                                                    <mat-option *ngFor="let gender of gendersPossible" [value]="gender.value">
                                                        {{ gender.value }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <br />
                                            <div class="d-flex justify-content-center">
                                                <button mat-raised-button color="primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-card>
                    </mat-tab>


                    <mat-tab label="Delete Player" class="mt-2">
                        <div class="container-fluid">
                            <mat-card style="margin-top: 20px; margin-bottom: 20px; background-color: #eeeeee">
                                <h5 class="text-center">Delete Player</h5>
                                <br />
                                <div class="row">
                                    <div class="col-12 d-flex flex-column align-items-center">
                                        <form [formGroup]="deletePlayerForm" (ngSubmit)="onDeletePlayerClick()">
                                            <div class="d-flex flex-column align-items-center">
                                                <mat-form-field style="max-width: 180px" appearance="outline">
                                                    <mat-label>First Name:</mat-label>
                                                    <input matInput formControlName="firstName" placeholder="Player First Name" required />
                                                </mat-form-field>
                                                <mat-form-field style="max-width: 180px" appearance="outline">
                                                    <mat-label>Last Name:</mat-label>
                                                    <input matInput formControlName="lastName" placeholder="Player Last Name" required />
                                                </mat-form-field>
                                                <mat-form-field style="max-width: 180px" appearance="outline">
                                                    <mat-label>Password</mat-label>
                                                    <input matInput placeholder="Password" type="password" formControlName="passwordDelete" required />
                                                </mat-form-field>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button mat-raised-button color="warn" class="text-center">Delete Player</button><br /><br />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab label="Add League" class="mt-2">
                        <div class="container-fluid">
                            <mat-card style="margin-top: 20px; margin-bottom: 20px; background-color: #eeeeee">                                
                                <h5 class="text-center">Enter New League</h5>
                                <br />
                                <form [formGroup]="LeagueForm" (ngSubmit)="addLeague()">
                                    <div class="d-flex flex-column align-items-center">
                                        <mat-form-field style="max-width: 180px" appearance="outline">
                                            <mat-label>New League Name</mat-label>
                                            <input matInput placeholder="League Name" type="text" formControlName="newLeagueName" required />
                                        </mat-form-field>
                                        <mat-form-field style="max-width: 180px" appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput placeholder="Password" type="password" formControlName="passwordLeague" required />
                                        </mat-form-field>
                                    </div>
                                    <br />
                                    <div class="d-flex justify-content-center">
                                        <button mat-raised-button color="primary">Add New League</button>
                                    </div>
                                </form>
                            </mat-card>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>
<div class="row justify-content-center align-items-center">

    <ng-container *ngFor="let team of listOfTeams; let i=index; ">
        <div *ngIf="(i+1) % 2 == 0 " style="margin-top:-205px; margin-left:-35px">

            <!--<div>
                <h4 style="font-size: 18px;">Court</h4>
            </div>-->
            <!--<input style="width: 35px; height: 35px; font-size: 14px; z-index: 99999;" type="text" />-->
            <h4 style="font-size: 20px; margin-top: 8px; padding:25px">vs</h4>
        </div>
        <div class="row col-3">
            <table class="table" style="pointer-events: none;">
                <thead>
                    <h2 *ngIf="isSmallScreen" style="text-align:center; float:none; margin-left:-50px; margin-right:auto; font-size:18px"> {{"Team " + (i + 1)}}</h2>
                    <h2 *ngIf="!isSmallScreen" style="text-align:center; float:none; margin-left:-50px; margin-right:auto; font-size:28px"> {{"Team " + (i + 1)}}</h2>
                    <tr class="d-flex">
                        <th *ngIf="!isSmallScreen" class="col-5">First Name</th>
                        <th *ngIf="!isSmallScreen" class="col-5">Last Name</th>
                        <th *ngIf="isSmallScreen" class="col-5" style="font-size:12px">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let player of team.players" class="d-flex flex-column flex-sm-row">
                        <td *ngIf="player.isMale == true && !isSmallScreen" class="col-5 extended-background-blue">
                            {{ player.firstName }}
                        </td>
                        <td *ngIf="player.isMale == true && !player.isSub && isSmallScreen" class="col-5 extended-background-blue-lastName">
                            {{ player.firstName[0] }}.{{ player.lastName }}
                        </td>
                        <td *ngIf="player.isMale == true && !player.isSub && !isSmallScreen" class="col-5 extended-background-blue-lastName">
                            {{ player.lastName }}
                        </td>
                        <td *ngIf="player.isMale == true && player.isSub" class="col-5 extended-background-blue-lastName">
                            {{ player.lastName }} - Sub
                        </td>
                        <td *ngIf="player.isMale == false && !isSmallScreen" class="col-5 extended-background-pink">
                            {{ player.firstName }}
                        </td>
                        <td *ngIf="player.isMale == false && !player.isSub && isSmallScreen" class="col-5 extended-background-pink-lastName">
                            {{ player.firstName[0] }}.{{ player.lastName }}
                        </td>
                        <td *ngIf="player.isMale == false && !player.isSub && !isSmallScreen" class="col-5 extended-background-pink-lastName">
                            {{ player.lastName }}
                        </td>
                        <td *ngIf="player.isMale == false && player.isSub" class="col-5 extended-background-pink-lastName">
                            {{ player.lastName }} - Sub
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ng-container>

</div>
<div class="row justify-content-center mt-3">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-3">
        <div class="d-flex flex-column align-items-center text-center">
            <button (click)="saveKingQueenTeams()" mat-raised-button color="primary" class="mb-2">Save Teams</button>
            <p class="mb-0" *ngIf="scrambleNumber">Scramble Number: {{ scrambleNumber }}.</p>
            <p class="mb-0" *ngIf="scrambleNumber">Please save this number for future lookups.</p>
        </div>
    </div>
</div>


<div class="text-center" style="margin-top: 10px;">
    <button *ngIf="!hideEverything" (click)="hideShowEverything()" mat-raised-button class="my-class" color="primary">Hide</button>
    <button *ngIf="hideEverything" (click)="hideShowEverything()" mat-raised-button class="my-class" color="primary">Show</button>
    <button *ngIf="hideEverything && !lockedResults" (click)="scramblePlayers(false)" style="margin-left:10px; " class="my-class" mat-raised-button color="primary">Scramble</button>
</div>