<div class="row">
    <div class="col-4" style="max-width:280px">
        <mat-card style="background-color:lightgray" class="ml-3 mt-2">

            <h4>Select League</h4>
            <div class="row">
                <div class="col-12 mt-1" *ngIf="!hideInputOptions">
                    <mat-form-field>
                        <mat-label>League</mat-label>
                        <mat-select style="min-width:180px;" [(ngModel)]="selectedLeague" [(value)]="league" (selectionChange)="selectLeague(selectedLeague)">
                            <mat-option *ngFor="let league of leaguesAvailable" [value]="league.leagueName">
                                {{league.leagueName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button (click)="hideOptions()" *ngIf="!hideInputOptions" mat-raised-button color="primary">Hide Options</button>
            <div *ngIf="hideInputOptions">
                <button (click)="hideOptions()" mat-raised-button color="primary">Show Options</button>
                <button (click)="scramblePlayers()" style="margin-top:10px" mat-raised-button color="primary" *ngIf="!lockedResults">Scramble Players</button>
                <div class="mt-2">
                    <mat-checkbox [(ngModel)]="completeRandom"> Completely Random?</mat-checkbox>
                </div>
            </div>

        </mat-card>
        <div id="hideListOptions">
            <mat-card style="background-color:lightgray;" class="ml-3 mt-2 mr-auto">

                <h4>Enter New Player</h4>

                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="selectedGender">
                        <mat-option *ngFor="let gender of gendersPossible" [value]="gender">
                            {{gender.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <form [formGroup]="PlayerForm" (ngSubmit)="onSubmitClick()">
                    <mat-form-field style="max-width:180px" appearance="outline">
                        <mat-label>First Name:</mat-label>
                        <input matInput placeholder="Player First Name" type="text" formControlName="firstName" value="{{addedPlayer?.firstName}}" required />
                    </mat-form-field>

                    <mat-form-field style="max-width:180px" appearance="outline">
                        <mat-label>Last Name:</mat-label>
                        <input matInput placeholder="Player Last Name" type="text" formControlName="lastName" value="{{addedPlayer?.lastName}}" required />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password" value="{{password}}" required />
                    </mat-form-field>
                    <button mat-raised-button color="primary">Submit</button><br /><br />

                </form>
            </mat-card>
            <mat-card style="background-color:lightgray" class="ml-3 mt-2 mr-auto">
                <h4>Scramble Options</h4>

                <mat-form-field>
                    <mat-label>Max Team Size</mat-label>
                    <mat-select [(ngModel)]="teamSize">
                        <mat-option *ngFor="let team of teamSizePossible" [value]="team">
                            {{team}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="completeRandom" aria-label="check box 1"> Completely Random</mat-checkbox>
                <mat-checkbox [(ngModel)]="lockedResults" aria-label="check box 2"> Lock Results</mat-checkbox>
                <br />
                <button style="margin-top:10px" (click)="scramblePlayers()" mat-raised-button color="primary">Scramble Players</button>
                <br />

                <button style="margin-top:10px" (click)="reset()" mat-raised-button color="primary">Reset</button>
                <br />

                <button style="margin-top:10px" (click)="hidePlayerList()" *ngIf="!hidePlayers" mat-raised-button color="primary">Hide Player List</button>
                <button style="margin-top:10px" (click)="hidePlayerList()" *ngIf="hidePlayers" mat-raised-button color="primary">Show Player List</button>





            </mat-card>
        </div>
    </div>
    <div class="col-8" id="hideInputOptions">
        <mat-card style="margin-top:20px; margin-bottom:20px; max-width:550px">
            <mat-card-title style="color:gray; margin:-10px -10px -5px -10px">Players</mat-card-title>
            <mat-selection-list dense #selected [(ngModel)]="selectedList" (ngModelChange)="addPlayer($event)">
                <div id="playerListHidden">
                    <div class="row">
                        <div>
                            <p style="margin-top:5px">The Number of Male Players - {{malePlayerCount}}</p>

                            <mat-list-option style="margin-top:-4px" *ngFor="let player1 of malePlayers1" [value]="player1">

                                {{player1.lastName}}, {{player1.firstName}}

                            </mat-list-option>


                        </div>
                        <mat-divider></mat-divider>
                        <div style="margin-top:5px" class="ml-3">
                            <p>The Number of Female Players - {{femalePlayerCount}}</p>
                            <mat-list-option style="margin-top:-4px" *ngFor="let player1 of femalePlayers1" [value]="player1">
                                {{player1.lastName}}, {{player1.firstName}}
                            </mat-list-option>
                        </div>


                    </div>
                </div>
            </mat-selection-list>
        </mat-card>
    </div>


    <br />
    <br />
</div>
<div class="row mh-100 mt-2">

        <ng-container *ngFor="let team of listOfTeams; let i=index; ">

            <div style="margin-left:-50px" *ngIf="(i+1)%2 == 0">
                <div style="text-align:center; float:none; margin-left:-10px; margin-right:auto;" class="offset-4">
                    <h4>
                        Court
                        <br />
                    </h4>
                </div>
                
                <input style="max-width:30px; text-align:center; z-index:9999; position:relative; float:none; margin-left:6px; margin-right:auto;" type="text" />
                <h4 style="margin-top:40px; text-align:center; float:none; margin-left:-10px; margin-right:auto;">
                    vs
                </h4>


            </div>
            <div class="row col-3">
                <table class="table ">
                    <thead>
                        <h2 style="text-align:center; float:none; margin-left:-50px; margin-right:auto;" > {{"Team " + (i + 1)}}</h2>
                        <tr class="d-flex">
                            <th class="col-5">Last Name</th>
                            <th class="col-5">First Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of team.players" class="d-flex">
                            <td *ngIf="player.isMale == true" style="background-color:lightblue" class="col-5">{{ player.lastName }}</td>
                            <td *ngIf="player.isMale == true" style="background-color:lightblue" class="col-5">{{ player.firstName }}</td>
                            <td *ngIf="player.isMale == false" style="background-color:pink" class="col-5">{{ player.lastName }}</td>
                            <td *ngIf="player.isMale == false" style="background-color:pink" class="col-5">{{ player.firstName }}</td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </ng-container>

</div>
