<?xml version="1.0" encoding="utf-8"?>
<configuration>


    <connectionStrings>
      <!--<add name="LeagueDBConnectionString" providerName="System.Data.ProviderName" connectionString="Server=(localdb)\LeagueDB; Database = LeagueScrambler; Trusted_Connection = True;"/>-->
    <add name="LeagueDBConnectionString"
    connectionString="workstation id=LeagueScrambler.mssql.somee.com;packet size=4096;user id=allport;pwd=Sephiroth3;data source=LeagueScrambler.mssql.somee.com;persist security info=False;initial catalog=LeagueScrambler"/>
    </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
</configuration>