<h2 mat-dialog-title style="display: flex; justify-content: center;">Forgot Password</h2>
<div mat-dialog-content style="height: 120px;">
    <p style="width: 100%; display: flex; justify-content: center;">Please enter your email address:</p>
    <mat-form-field style="width: 100%; text-align: left;">
        <input matInput [(ngModel)]="email" placeholder="Email" type="email" required style="width: 100%; text-align: center;">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: center;">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSubmit()">Submit</button>
</div>
