<div class="container" style="margin-top: 20px; text-align: center;">
    <h2>League Dashboard</h2>

    <p *ngIf="selectedLeagueId && (selectedLeagueId != 27 && selectedLeagueId != 33)">
        ({{ selectedLeagueName }})
    </p>

    <div *ngIf="selectedLeagueId && (selectedLeagueId == 27 || selectedLeagueId == 33 || selectedLeagueId == 37)" style="display: flex; justify-content: center; align-items: center; ">
        <img src="assets/img/logoww.jpg"
             style="width: 100%; max-width: 200px; height: auto; object-fit: contain;">
    </div>


    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <mat-tab-group style="width: 100%; max-width: 1200px;" mat-align-tabs="center">
            <mat-tab label="Standings">
                <app-league-team-standings [leagueId]="selectedLeagueId"></app-league-team-standings>
            </mat-tab>
            <!-- TAB #1: Schedule -->
            <mat-tab label="Schedule">
                <app-league-schedule [leagueId]="selectedLeagueId" style="width: 100%;"></app-league-schedule>
            </mat-tab>

            <mat-tab label="Individual Team Scores">
                <app-individual-team-scores></app-individual-team-scores>
            </mat-tab>

            <!-- TAB #2: League Teams -->
            <mat-tab label="League Teams">
                <app-league-teams [leagueId]="selectedLeagueId" style="width: 100%;"></app-league-teams>
            </mat-tab>

            <!-- TAB #3: Team Management (only if user is admin or manager) -->
            <!--<mat-tab *ngIf="isAdminOrManager" label="Team Management">
                <app-team-management [leagueId]="selectedLeagueId" style="width: 100%;"></app-team-management>
            </mat-tab>-->
        </mat-tab-group>
    </div>

</div>
