/* Adjusted styles for top navigation */
@media (min-width: 368px) {
    .main-nav {
        position: static; /* Change from fixed position to static */
        height: auto; /* Remove fixed height */
        text-align: center; /* Center-align the menu options */
    }

        .main-nav ul {
            padding: 0; /* Remove default padding */
        }

        .main-nav li {
            display: inline-block; /* Display the list items horizontally */
            font-size: 15px;
            margin: 0 6px; /* Adjust margins as needed */
        }

            .main-nav li a {
                padding: 10px 16px;
                border-radius: 4px;
            }

        .main-nav .navbar {
            border-radius: 0; /* Remove border-radius */
            border-width: 0px;
            height: auto; /* Adjust height as needed */
            vertical-align: middle; /* Center the content vertically */
        }

            .main-nav .navbar a {
                width: auto; /* Remove width constraint */
                white-space: nowrap; /* Prevent line breaks in link text */
                overflow: visible; /* Show overflowing content */
                text-overflow: clip; /* Display full text without ellipsis */
            }

            .main-nav .navbar li {
                float: none; /* Remove float */
                font-size: 15px;
            }

                .main-nav .navbar li a {
                    padding: 10px 16px;
                    border-radius: 4px;
                }

        .main-nav .navbar-header {
            float: none; /* Remove float */
        }
}
