.main-nav {
    position: fixed;
    top: 0; /* Position the navigation at the top of the page */
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #333; /* Background color for the top navigation */
}

.main-nav li {
    display: inline-block; /* Display the list items horizontally */
    margin-right: 20px; /* Add some spacing between the navigation items */
}

.main-nav li a {
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 4px;
    color: white; /* Text color for navigation links */
    text-decoration: none; /* Remove underlines from links */
}

.main-nav li a .fa {
    margin-right: 10px;
}

.main-nav li.link-active a,
.main-nav li.link-active a:hover,
.main-nav li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

@media (min-width: 100px) {
    .main-nav {
        width: 100%; /* Expand the navigation bar to full width */
        min-width: auto; /* Remove the minimum width constraint */
        .navbar {
            border-radius: 0; /* Remove border-radius */
            border-width: 1px; /* Optionally, add a border */
            height: auto; /* Adjust height as needed */
            vertical-align: middle; /* Center the content vertically */
            a {
                width: auto; /* Remove width constraint */
                white-space: nowrap; /* Prevent line breaks in link text */
                overflow: visible; /* Show overflowing content */
                text-overflow: clip; /* Display full text without ellipsis */
            }

            ul {
                float: none; /* Remove float */
                text-align: center; /* Center-align the links */
            }

            li {
                float: none; /* Remove float */
                display: inline-block; /* Display the list items horizontally */
                font-size: 15px;
                margin: 0 6px; /* Adjust margins as needed */
                a {
                    padding: 10px 16px;
                    border-radius: 4px;
                }
            }
        }

        .navbar-header {
            float: none; /* Remove float */
        }
    }
}

.league-dropdown {
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Space around the dropdown */
    margin-right: 10px; /* Spacing from other elements */
    background-color: #f8f9fa; /* Slightly off-white background */
}
.navbar-toggler-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}
.league-dropdown .dropdown-menu {
    border: 1px solid #ccc; /* Border around the dropdown items */
    border-radius: 5px; /* Match outer border radius */
}

.league-dropdown a.nav-link {
    font-weight: bold; /* Make the "Select League" text bold */
}
